body,
html {
    margin: 0;
    padding: 0;
}

* {
    touch-action: manipulation;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100vh;
    background: #f1f1f1;
}

.action {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    text-align: center;
    color: #d97043;
    font-style: italic;
    z-index: 10;
    pointer-events: none;
}

.wrapper {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
}

.wrapper-center{
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.balloon{
    display: inline-block;
    position: absolute;
    bottom: 2rem;
    text-align: center;
    color: #d97043;
    font-style: italic;
    z-index: 10;
    padding: 10px;
    box-shadow: 0px 0px 12px #d97043;
}

#character {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.loading {
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    -webkit-perspective: 120px;
    -moz-perspective: 120px;
    -ms-perspective: 120px;
    perspective: 120px;
    width: 100px;
    height: 100px;
}

.loader::before {
    content: "";
    position: absolute;
    left: 25px;
    top: 25px;
    width: 50px;
    height: 50px;
    background-color: #9bffaf;
    animation: flip 1s infinite;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    min-height: 80px;
    box-shadow: 1px 2px 4px 1px #000;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #212121 0%, #000 74%);
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    margin-right: 20px;
}

.logo {
    width: 40px;
    height: 40px;
    background: #e6bbb5;
    position: relative;
    margin-left: 20px;
    border-radius: 100%;
    box-shadow: 1px 1px 5px #bfa5a0;
}

.logo:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 40px;
    background: #fff;
    transform: rotate( 
75deg);
    border-radius: 5px;
    border: 1px solid #fff;
    top: 0px;
    left: 15px;
    box-shadow: 2px 0px 20px 10px #eee;
}

.logo:after {
    content: '';
    width: 30px;
    height: 14px;
    background: #000;
    position: absolute;
    border: 4px solid #ffffff;
    border-top: none;
    border-radius: 30px;
    top: -11px;
    transform: rotate( 
-15deg);
    left: -4px;
    box-shadow: 1px 11px 5px #0e0402;
}

.home a{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.main-container{
    height: calc(100% - 80px);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background: #000;
    position: relative;
}

.main-center-container{
    display: inline-block;
}

.button{
    background: #f1f1f1;
    color: #383838;
    padding: 15px 60px;
    border-radius: 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 1px 5px #f1f1f1;
    position: relative;
}

.button:hover{
    background: #8a6f6c;
    color: #f1f1f1;
    box-shadow: 1px 1px 5px #8b706d;
}

.button:before{
    content: '';
    width: 100px;
    height: 14px;
    background: transparent;
    position: absolute;
    border: 4px solid #f1f1f1;
    border-top: none;
    border-radius: 30px;
    top: -20px;
    left: 35px;
}

.button:hover:before{
    border: 4px solid #8b706d;
    border-top: none;
}

.button:after{
    content: '';
    width: 143px;
    height: 100px;
    background: transparent;
    position: absolute;
    border: 4px solid #f1f1f1;
    border-top: none;
    border-radius: 30px;
    top: -20px;
    left: 13px;
}

.button:hover:after{
    border: 4px solid #8b706d;
    border-top: none;
}

.main-left-container{
    width: 100%;
    display: inline-block;
}

.main-left-container h1{
    color: #f1f1f1;
    padding-left: 50px;
}

.main-left-container p{
    color: #f1f1f1;
    width: 90%;
    padding: 50px;
}

.main-container video{
    width: 44%;
    height: 100%;
    display: inline-block;
}

@keyframes flip {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(180deg) rotateX(180deg);
    }
}